# Django Settings
DEBUG=True
SECRET_KEY=django-insecure-your-secret-key-here # production
ALLOWED_HOSTS=localhost,127.0.0.1 # production
CSRF_TRUSTED_ORIGINS=http://localhost:3000,http://localhost:8000 # production
CORS_ALLOW_ALL_ORIGINS=True

# Database (Connection String)
DATABASE_URL=postgresql://postgres:password@url:port/name # production

# Database (Individual Variables - optional fallback)
DB_NAME=name
DB_USER=postgres
DB_PASSWORD=password
DB_HOST=url
DB_PORT=port

# Admin Superuser
ADMIN_USERNAME=admin
ADMIN_PASSWORD=test-admin
ADMIN_EMAIL=karafi.work@gmail.com

# Google Cloud Storage
GS_BUCKET_NAME=your-bucket-name-here

# Email Settings
EMAIL_HOST_USER=your-email@gmail.com
EMAIL_HOST_PASSWORD=your-app-password
